@import "tailwindcss";

@layer utilities {
  .animate-marquee {
    animation: marquee 40s linear infinite;
  }

  .animate-marquee-reverse {
    animation: marquee-reverse 40s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes marquee-reverse {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}


/* styles.css */
html {
  scroll-behavior: smooth;
  scroll-timeline: auto;
}

/* Make scrolling slower */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
  * {
    scroll-behavior: smooth !important;
    scroll-timing-function: cubic-bezier(0.22, 1, 0.36, 1) !important;
  }
}